<div class="delivery" style="font-size:90%;margin-top: 10px;">
  Delivery Details
  <div class="deliveryDetails" style="font-size:80%;background: white;width: 96%;margin-left: 0px;padding-top: 10px;padding-left: 0px;padding-bottom: 10px;border-radius: 12px;">
  <span class="userName" style="padding-left: 10px;color: black;"><%=addressName%></span>
  <br>
  <div class="userStreet" style="padding-left: 10px;"><%=addressStreet%></div>
  <br>
  <span class="userLocality" style="padding-left: 10px;"><%=addressLocality%></span>
  <br>
  <span class="addressCity" style="padding-left: 10px;"><%=addressCity%> - <%=addressPin%></span>
  <br>
  <span class="addressState" style="padding-left: 10px;"><%=addressState%></span>
  <br>
  <span class="addressMobile" style="padding-left: 10px;">Mobile: <%=addressMobile%></span>
</div>
</div>
<div class="bill" style="font-size:90%;margin-top: 15px;">
Bill Details
<div class="billDetails" style="font-size:80%;background: white;width: 96%;margin-left: 0px;padding-top: 10px;padding-left: 0px;padding-bottom: 10px;border-radius: 12px;">
<span class="orderAmount" style="padding-left: 10px;">Order value</span><span class="orderAmountValue" style="float: right;padding-right: 10px;color: black;"><%=orderAmount%></span>
<br>
<span class="orderDiscount" style="padding-left: 10px;">Discount</span><span class="orderDiscountValue" style="float: right;padding-right: 10px;color: #2cd2b1;"><%=orderDiscount%></span>
<br>
<span class="orderGST" style="padding-left: 10px;">GST</span><span class="orderGSTValue" style="float: right;padding-right: 10px;color: black;"><%=orderGST%></span>
<br>
<span class="orderDelivery" style="padding-left: 10px;">Delivery Charge</span><span class="orderDeliveryValue" style="float: right;padding-right: 10px;color: black;"><%=orderDelivery%></span>
<hr>
<span class="orderTotalAmount" style="padding-left: 10px;"> Total </span><span class="orderTotalValue" style="float: right;padding-right: 10px;color: black;"><%=orderTotalAmount%></span>

</div>
</div>

</div>
<div style="text-align:left;padding-top:8px;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5f5f5f;line-height:135%">
NOTE: This is an auto generated email message. Please do not reply to this mail.
In case you need any clarification, please contact us at query@<span class="il">akratiindia</span>.com or call on <b> (+91) 9557404911 </b>quoting your above-mentioned details.</div>

</div>
